 <div class="col-xs-8" style="color:#fff">
      <div class="col-xs-4">
        <div style="margin:5px auto; width:100%;">
          <img src="favicon.ico" alt="" class="img img-circle  ">
        </div>
        <div> <input [(ngModel)]="hero.name" name="hero_name" class="form-control " placeholder="基佬名称"></div>
        <div>
          ID ： {{hero.id}}
        </div>
        <div>
          姓名： {{hero.name}}
          <span style="color:red;" *ngIf="hero.id==2">*</span>
        </div>
      </div>
    </div>
